packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
        	Order deny,allow
        	Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"

        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on

        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDkDCCAngCCQCrfkxRSEuFPDANBgkqhkiG9w0BAQUFADCBiTELMAkGA1UEBhMC
      VVMxDTALBgNVBAgMBFRlc3QxDTALBgNVBAcMBFRlc3QxDTALBgNVBAoMBFRlc3Qx
      HTAbBgNVBAsMFFNpbmdsZSBJbnN0YW5jZSBUZXN0MQ0wCwYDVQQDDARUZXN0MR8w
      HQYJKoZIhvcNAQkBFhB0ZXN0QHJlZWx0aW1lLmluMB4XDTE0MDcxMjE0NTkyMVoX
      DTE1MDcxMjE0NTkyMVowgYkxCzAJBgNVBAYTAlVTMQ0wCwYDVQQIDARUZXN0MQ0w
      CwYDVQQHDARUZXN0MQ0wCwYDVQQKDARUZXN0MR0wGwYDVQQLDBRTaW5nbGUgSW5z
      dGFuY2UgVGVzdDENMAsGA1UEAwwEVGVzdDEfMB0GCSqGSIb3DQEJARYQdGVzdEBy
      ZWVsdGltZS5pbjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALo+KQlV
      78bq+OGJjyyKmIZnJzh81H+OAj8UhVnJ31nagEHr/JxHSdfh3Kzf9gKTyiIRW7Fw
      JDMUPHmq6GD3vLeCcnlVmX5FqwNhoh6fIa+HAKQl2Wx0BX6PHLRKpccVTtwpI69s
      QzCMal2sBYoimqrKR+vXmIS0KxCMSOC7STLw1rnpLGCx5tuqq2CHANZHQSSMa/vT
      HTeNlndrUIh6ZfsObXalgM/2mwVZZUH+7HXUIvQ+Il1ABWyRIiN2A1MEkvfYEyRW
      yLXWc+/7YqRxIX5B58cGpbE+K+p4+LZ8HmOHpJ7b1+K8REVY3Sa+Bf3ZBWzBneAf
      8vlzV8kvcGHGkN8CAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAIk8tI4V2GnbVuIDM
      lQ1KvkiWYiec6qog0fb3OC5Ljv0gv0MubMhreeQND+758s6Mo9ccsPHZaMol6rei
      yXJcVW0mObhEsinz/09HJi5M95XJb9QPpVNleWxrNlflSqxX5ZvIdebi4tR1F9lr
      VKmqAtbIGOJTQDuno6D5eEa5NL0+etOggpdt8Gpdae8GNpIk+UYd1LyMVhywCvkp
      ALs0dOfO2GT+6VnsuF1kZxaDrdoFms3Tt5udeQQsW4BxtBrcP6cjULwjWm2kTCx9
      SBAq7ukTik93+yEs7OO0+z+gTsJOKrHl2qmbep2i8LD3nPu8958sX16FBeMsjHN/
      EDGjDg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpgIBAAKCAQEAuj4pCVXvxur44YmPLIqYhmcnOHzUf44CPxSFWcnfWdqAQev8
      nEdJ1+HcrN/2ApPKIhFbsXAkMxQ8earoYPe8t4JyeVWZfkWrA2GiHp8hr4cApCXZ
      bHQFfo8ctEqlxxVO3Ckjr2xDMIxqXawFiiKaqspH69eYhLQrEIxI4LtJMvDWueks
      YLHm26qrYIcA1kdBJIxr+9MdN42Wd2tQiHpl+w5tdqWAz/abBVllQf7sddQi9D4i
      XUAFbJEiI3YDUwSS99gTJFbItdZz7/tipHEhfkHnxwalsT4r6nj4tnweY4ekntvX
      4rxERVjdJr4F/dkFbMGd4B/y+XNXyS9wYcaQ3wIDAQABAoIBAQCgwqs1bcKNV6IB
      PHYjonbJ/Rxzu/zJJdF2lcYNnR14OA1h2cuxMi/hcwrDBocZ7mwaQBV/8iatGJij
      BQ2VNgLl/GnHpkXaI1TclFgWSpIPK184UZt97CAaAHpsfcrfL9tkWvZ8o9zTeUEP
      Hj+h3wDWz8iJIQ577fEGVbFKmx8yIgoGi3jr7fMyohh1ocuB2fJuzk6Cui3BZvne
      E0izkfUH4zLum9A5dLhWFiaDmshU40p9Qq0gklQfq1YBSfiBkmacJEA/BVw3f3nb
      l+WmcuoC8v1WpM5QA8D+bZfKVafeh2OUinK59eNtQJaL8kh0HQpyRZygmu8WxROE
      kg1PJHAxAoGBAPWUF1OSA4x2Cogrz2UzIXqt+zA5idyqp/T2szCOx333+MPsgO/0
      AEgHeruZSD62x4O855ejaJ8tXOMtxz17/KnrmfQs3LPp+TD6o/l9PKlFOtwqBLXR
      uj4Lzn6Or3lXxafhA/frfl78cpSgwKCNfufHdBrpy3doPy0XfyFvFWq7AoGBAMIl
      db/B86iVaFW10yTpT7Jr4lTC7PWqoBadUsoUfr6D4CHsnti3X/cdMTGTNAN3n2Q2
      QXhURsrtYPw1LHhnacQb/K6yFjEVxiPNB9TBeN97syJ8deGyKW0j8AWi+32J5GN8
      XsCRIz53LQZVPSOFRUKoQxlianWRYlCufuj3zootAoGBALryS3eg9fadfZL/1tfx
      PpFHlKq3go1rlIRUsUBL0O3CMavkhJsmIniyyOm63FZxihxtV9gF24UhYU7H8J6L
      nmI0KnTJGhIUEVEJ3H32qpEpVI95pTBMQf0tu7p4IHi9KoiMMRswOHlSsF8YqMsQ
      LAWBvo8mX2+8+ir3ch4flCw1AoGBAKfqEj85lm3WWxjWW7nu+HkOigBZXuzTGAa3
      JuWUeFJ6aJ2us2wonZ1y6BtCf5gIHBlmO5XA/kGAsYMw0jeI6ZctxYuqhzsI5AgO
      ypkehFZ1/Gb1UldT6jR1AqE9Z1oaqyfIZ4MRhHQASzbQ/kH8f/y43t/TmNP6XBf/
      88+2lDI5AoGBAOW3Gxx7o9QAp6fc4Qnbpqu2EspElhieqZeVTtEvAG9Nrl0Jil+9
      08xyJaZH4wGd0xnEtRrmkAFUpjUIvvFQDk0sFQgh+Fb7mWqJF7WSAMLdLz06QHU7
      5Z934owBqgMqDLo/E02lYg7zF6nHEzLrrgYhakriHgEyIdO+CZx5EPZw
      -----END RSA PRIVATE KEY-----

services:
  sysvinit:
    httpd:
      enabled: true
      ensureRunning: true
      files : [/etc/httpd/conf.d/ssl.conf,/etc/pki/tls/certs/server.key,/etc/pki/tls/certs/server.crt]