container_commands:
    01-install-ffprobe:
        command: cp external/ffprobe /usr/local/bin/ffprobe
    02-change-ffprobe-owner:
        command: chown tomcat:tomcat /usr/local/bin/ffprobe
    03-change-ffprobe-permissions:
        command: chmod 500 /usr/local/bin/ffprobe

option_settings:
    - option_name: FFPROBE
      value: /usr/local/bin/ffprobe